kestra_flows/send_email_with_attachemnt.yaml
id: send-email-with-attachment
namespace: company.team

tasks:
  - id: send_email
    type: io.kestra.plugin.notifications.mail.MailSend
    from: onboarding@resend.dev
    to: milanpatel2851@gmail.com
    username: resend
    password: "re_JQdNffzx_QJDVVhWKrDcAMHNdtjZVDCWm"
    host: smtp.resend.com
    port: 465
    subject: Here is your dataset
    attachments:
      - name: data.csv
        uri: "{{ outputs.python[\"outputFiles\"][\"ExpensePDF.pdf\"] }}"
    htmlTextContent: Please find attached your dataset as a CSV file